body { font-family:Arial, Helvetica, sans-serif; background: #FFFFF0; }

.header-area{
  background: none repeat scroll 0 0 #1C1C1C;
  height: 60px;
  color: #ADFF2F;
  margin-top:-10px;     
  margin-left:10px; 
  margin-right:10px;  
}

.site-branding-area { 
    background-color: #FFFACD;   
    padding:25px;    
    margin-left:10px; 
    margin-right:10px;   
    height: 215px;
  }
  .logo{
   margin-top: -30px;
   margin-bottom: 10px;
}

  .content-wrapper{
    background-color: #FFFFE0;
    margin-left:10px; 
    margin-right:10px; 
    padding:25px; 

  }

  .footer-top-area{
    background-color: #1C1C1C;
    padding:25px;    
    margin-left:10px; 
    margin-right:10px;  

  }

  .footer-about-us h2 {
  font-weight: 200;
  color: #FFFFF0;
}

.footer-about-us p {  
  color: #FFFFF0;
}

 
  .box-searchbar a{
    padding:5px;
    margin-left:1px;     
    margin-bottom: 10px;    

  }


  


    

   
    
/*/////////////////////////////*/














.










 


















